.App {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.player-card {
    border: 2px ridge #999;
    margin: 5px auto;
    width: 250px;
}

ul {
    display: inline-flex;
    flex-wrap: wrap;
}